@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

body {
  font-family: "Outfit", sans-serif;
  background-color: rgb(13, 26, 45);
  font-size: 0.9rem;
  box-sizing: border-box;
}

.container {
  position: fixed;
  margin: auto;
  inset: 0;
  padding: 1.1rem;
  width: 250px;
  height: 420px;
  background-color: rgb(21, 39, 63);
  border-radius: 1rem;
  box-shadow: 0px 10px 10px 10px rgb(12, 23, 41);
}

.container img {
  margin-left: 6px;
  border-radius: 0.5rem;
  width: 95%;
}

.container h3 {
  /* text-indent: 6px; */
  color: rgb(255, 255, 255);
  font-size: 1rem;
}

.container p {
  /* text-indent: 6px; */
  color: rgb(107, 129, 160);
}

#currency-name {
  color: rgb(2, 253, 250);
  font-size: 0.75rem;
}

.container span {
  color: rgb(107, 129, 160);
}

#change-color {
  color: rgb(255, 255, 255);
}

hr {
  height: 2px;
  border: none;
  background-color: rgb(30, 48, 72);
  margin-top: 0.8rem;
}
.container p img {
  width: 1.4rem;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 100%;
  vertical-align: middle;
}

.days {
  font-size: 0.8rem;
}

#currency-name img {
  vertical-align: text-bottom;
  width: 0.6rem;
}

.box {
  display: flex;
  gap: 36%;
}

.last-para {
  font-size: 0.8rem;
}

.days svg {
  width: 0.8rem;
  fill: rgb(142, 173, 218);
  height: 0.8rem;
}

.days {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  line-height: 1;
}
